.advantages {
  background-color: #ffffff;
}

.advantages__title {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;

  list-style: none;
}
