.programs {
  background-color: @bg-color;
}

.programs__list {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: @secondary-bg-color;

  list-style: none;
  margin-top: 22px;

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  color: @title-color;
  text-transform: uppercase;

  margin: 0;
  padding-top: 39px;
  padding-left: 92px;

  &--losing-weight::before {
    content: "";

    position: absolute;

    width: 35px;
    height: 49px;

    margin-left: -60px;
    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--mass-gain::before {
    content: "";

    position: absolute;

    width: 67px;
    height: 28px;

    margin-left: -80px;
    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    font-size: 37px;

    padding-top: 81px;
    padding-left: 55px;

    &--losing-weight::before {
      content: "";

      position: absolute;

      width: 141px;
      height: 194px;

      margin-left: 430px;
      background-image: url("../../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }

    &--mass-gain::before {
      content: "";

      position: absolute;

      width: 268px;
      height: 113px;

      margin-left: 350px;
      margin-top: 65px;
      background-image: url("../../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 216px;

    &--losing-weight::before {
      content: "";

      position: absolute;

      width: 71px;
      height: 97px;

      margin-left: -153px;
      margin-top: -40px;
      background-image: url("../../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }

    &--mass-gain::before {
      content: "";

      position: absolute;

      width: 134px;
      height: 57px;

      margin-left: -185px;
      margin-top: -10px;
      background-image: url("../../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.programs__description {
  font-size: 14px;
  line-height: 18px;
  color: @text-color;

  margin: 0;
  margin-left: 20px;
  margin-top: 36px;
  width: 223px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;

    margin-left: 52px;
    margin-top: 26px;
    width: 371px;
  }

  @media (min-width: @desktop-width) {
    width: 462px;

    margin-top: 75px;
  }
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;

  display: inline-block;
  margin-top: 44px;
  margin-left: 20px;
  padding-bottom: 22px;

  &::after {
    content: "";

    position: absolute;

    width: 25px;
    height: 12px;

    margin-left: 12px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;

    margin-top: 61px;
    margin-left: 53px;
    padding-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 36px;
  }
}
